:root {
    --c-brand: #3D5919;
    --c-brand-light: #50751f;
}

@media only screen and (max-width: 640px) {
    .table-col-one {
        max-width: 100px;
        height: auto;
    }

    .table-col-two {
        /* background-color: green; */
        max-width: 200px;
    }

}